html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', Arial, sans-serif;
}

a {
    color: #7890cd;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.logo-icon {
    position: relative;
    top: 1px;
    width: 18px;
    height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    background: url('../images/logo002.png');
}

a:hover,
a:focus {
    color: #f06292;
}

p {
    font-family: 'Helvetica', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #ffffff;
    font-family: 'Helvetica', Arial, sans-serif;
    background-image: url('../images/header.svg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner h2 {
    margin-top: 0;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #212d74;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 60px;
        text-transform: uppercase;
    }
    header .header-content .header-content-inner h2 {
        font-size: 35px;
        letter-spacing: 0.12em;
    }
    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

iframe {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
    color: #212d74;
    font-weight: bold;
}

.intro {
    color: #ffffff;
    background-color: #7890cd;
    padding: 70px 0;
    text-align: center;
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    ;
}

.content {
    padding: 50px 50px 50px;
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    ;
}

.content-2 {
    color: #ffffff;
    background-color: #212d74;
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    ;
}

.content-3 {
    background-color: #f06292;
    padding: 30px 0 20px;
    text-align: center;
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    ;
}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
    text-shadow: 0px 0px 40px black;
    text-decoration: none;
}

.promo-item {
    height: 400px;
    line-height: 400px;
    text-align: center;
    background-repeat: no-repeat;
}

.promo-item:hover {
    background-size: 110%;
    border: 10px solid rgba(255, 255, 255, 0.3);
    line-height: 380px;
    background-repeat: no-repeat;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
    background: url('../images/image004.jpg');
}

.item-2 {
    background: url('../images/image002.jpg');
}

.item-3 {
    background: url('../images/image003.jpg');
}

.item-1,
.item-2,
.item-3 {
    background-size: cover;
    background-position: 50% 50%;
}

.page-footer {
    text-align: center;
}

.page-footer .contact {
    padding: 100px 0;
    background-color: #7890cd;
    color: #ffffff;
    -moz-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.5);
    ;
}

.page-footer .contact p {
    font-size: 22px;
    font-weight: 300;
}

.content-3 .glyphicon,
.page-footer .contact .glyphicon {
    font-size: 32px;
    font-weight: 700;
}

.page-footer .small-print {
    padding: 20px 0 0;
    font-weight: 300;
}

.text-light {
    color: #ffffff;
}

.text-muted {
    color: #000000;
}

.navbar-in {
    background-color: #212d74;
    color: #ffffff;
}

.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    background-color: #ffffff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-brand {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.navbar-default .navbar-header .navbar-brand {
    color: #212d74;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #212d74;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    color: #212d74;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #7890cd;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #7890cd!important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        background-color: transparent;
    }
    .navbar-in {
        background-color: #212d74;
        color: #ffffff;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.5em;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #ffffff;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: #ffffff;
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #d23369;
    }
    .navbar-default.affix {
        border-color: #ffffff;
        background-color: #ffffff;
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: #212d74;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #212d74;
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #212d74;
    }
    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #7890cd;
    }
}

.btn-default {
    border-color: #ffffff;
    color: #212d74;
    background-color: #ffffff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    border-color: #eee;
    color: #212d74;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #ffffff;
    background-color: #ffffff;
}

.btn-default .badge {
    color: #ffffff;
    background-color: #212d74;
}

.btn-primary {
    border-color: #7890cd;
    color: #ffffff;
    background-color: #7890cd;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    border-color: #d23369;
    color: #ffffff;
    background-color: #d23369;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #7890cd;
    background-color: #7890cd;
}

.btn-primary .badge {
    color: #7890cd;
    background-color: #ffffff;
}

.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #ffffff;
    background: #212d74;
}

::selection {
    text-shadow: none;
    color: #ffffff;
    background: #212d74;
}

img::selection {
    color: #ffffff;
    background: 0 0;
}

img::-moz-selection {
    color: #ffffff;
    background: 0 0;
}

.text-primary {
    color: #7890cd;
}

.bg-primary {
    background-color: #7890cd;
}


/*Login*/

*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button {
    border: none;
    outline: none;
    background: none;
    font-family: Helvetica, Arial, sans-serif;
}

.cont {
    overflow: hidden;
    position: relative;
    /*width: 900px;
    height: 550px;*/
    width: 100%;
    height: 100%;
    margin: 50px auto 300px;
    background: #2a3990;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 70%;
    top: 0;
    /*width: 900px;*/
    width: 100%;
    height: 100%;
    padding-left: 0;
    background: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.btn-default {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("../images/header.svg");
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    border-color: #7890cd;
}

.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #7890cd;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}


/*
h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}*/

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    border-color: #7890cd;
    color: #ffffff;
    background-color: #7890cd;
    text-transform: uppercase;
}

.submit:hover,
.submit:focus,
.submit.focus,
.submit:active,
.submit.active {
    border-color: #d23369;
    color: #ffffff;
    background-color: #d23369;
}

.sign-in {
    transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}

.icon-link img {
    width: 100%;
    vertical-align: top;
}

.icon-link--twitter {
    left: auto;
    right: 5px;
}